@import "../config";
@import "../tools/mixins";

.button-bar {
  margin: 24px -6px;
  text-align: center;

  &.left {
    text-align: left;
  }
}

.button-primary {
  margin: 6px;
  padding: 10px 12px;
  border-radius: 6px;
  transition: background 0.5s, opacity 0.5s;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
  white-space: nowrap;

  &:disabled {
    opacity: .7;
  }

  &:link, &:visited {
    text-decoration: none;
    border-bottom: 1px var(--accent) solid;
  }

  &:link, &:visited {
    color: inherit;
  }

  #{$icon_classname} {
    font-size: 20px;
    position: relative;
    margin-right: 8px;
    top: 0.2em;
    max-width: 1em;
    overflow: hidden;
  }

  &--small {
    padding: 8px 12px;
    line-height: 24px;

    #{$icon_classname} {
      font-size: 16px;
    }
  }
}

.button-primary {
  border: 1px var(--accent) solid;
  background: var(--accent);
  transition: none;

  &, &:link, &:visited {
    color: var(--fg-accent);
  }
}
